
  /*sama code*/


.row {
    margin-top: 5%;
    border-bottom: 1px solid skyblue;

}

.row form{
  margin:0%;
  
  
}
.taille{
  width: 100%;
  margin: 2%;
}
.mar-But{
  margin-bottom: 6%;
}
.adress{
  height:10px ;
  
}





         
 
      


      
      


 